/*
a4
css3.css
Summer 2015
Vincent Nguyen*/


body
{
	width: 95%;
	color: royalblue;
	color: #4169e1;
	margin: auto;
	font-weight: bold;
	font-family: Calibri, Helvetica, Verdana, Arial, sans-serif;
	background-color: whitesmoke;

}

#header
{
	height: 120px;
	clear: both;
	font-size: 120%;
	text-align: center;
	margin-bottom: 7%;
	border-bottom: 1px solid lightskyblue;
}

.sh1
{
	font-size: 125%;
	font-weight: bold;

}

.sh2
{
	font-size: 110%;
	font-weight: bold;

}

#navigation
{
	width: 155px;
	float: left;
	padding-left: 5px;
}

#external
{
	width: 155px;
	float: right;
	text-align: right;
	padding-right: 5px;
}

#external img
{
	width: 62px;
	height: 86px;
	border: none;
	padding-bottom: 20px;
}

#main
{
	width: 155px;
	float: left;
	text-align: center;
}

#jform{
	width:				35%;
	margin:				auto;
	border:				thick double royalblue;
	border-radius:		15px;
	box-shadow:			4px		4px		5px		7px		rgba(25,25,75,.5);
	/*					H off	v off	blur	spread	colors + opacity	*/
	margin-top:			5px;
	padding-left:		5px;
	background-color:	#99ffcc;
}

#footer
{
    margin: auto;
    font-size: 60%;
    text-align: center;
    border-top: 1px solid lightskyblue;
    padding-top: 2px;
	margin-top: 25px;
}

#footer img
{
	width: 40px;
	height: 30px;

}

.submit
{
	text-align: center;
}

.submit input
{
	color: #ffffff;
	font-size: 95%;
	font-style: italic;
	font-weight: bold;
	background-color: #11dd11;
}

.reset input
{
	background-color: #11dd11;
}

.fh1
{
	font-weight: bold;
	text-decoration: underline;
}

label
{
	width: 11em;
	float: left;
	text-align: left;
}

a:link
{
	color: rgba(178, 185, 100, 0.82);
}

a:visited
{
	color: black;
}

a:hover
{
	color: rgb(136, 33, 51);
}

#jsmgs{
	width: 35%;
	color: red;
	font-style: italic;
	font-weight: bold;
	font-size: 90%;
	text-align: center;
	margin: auto;
	padding: 15px 0px 15px 0px;
}

select{
	width: 240px;
	height: 22px;
	border-radius: 10px;
	background: #fff;
}

select:required{
	background: #ff0;
}

select:valid{
	background: #fff;
}

select:focus:invalid{
	background: #f00;
}

textarea{
	width: 420px;
	border-radius: 10px;
	padding: 2px;
	background: #fff no-repeat top right;
}

textarea:required{
	background-image: url("../images/required.png");
}

textarea:valid{
	background-image: url("../images/valid.png");
}

textarea:focus:valid{
	background-image: url("../images/invalid.png");
}

input[type=text], input[type=password], input[type=email]
{
	width: 230px;
	padding: 2px;
	border-radius: 10px;
}

input:not([type=submit]):not([type=checkbox]):not([type=reset])
{
	background: #fff no-repeat top right;
}

input:not([type=submit]):not([type=checkbox]):required{
	background-image: url("../images/required.png");
}

input:not([type=submit]):not([type=checkbox]):valid{
	background-image: url('../images/valid.png');
}

input:not([type=submit]):not([type=checkbox]):focus:invalid{
	background-image: url("../images/invalid.png");
}

.bold{
	font-weight: bold;
}

.red{
	color: red;
}

.green{
	color: green;
}

#icon1{}

#icon2{}

#icon3{
	float: right;
	color: red;
	position: relative;
}

#registered{
	color: #228b22;
	text-align: center;
	margin: auto;
	font-style: italic;
	font-size: 95%;
	margin-bottom: 10px;
	
	
}

.loginerror{
	color: #f00;
	font-style: italic;
	font-size: 90%;
	padding-left: 7px;
	font-weight: bold;
}
